﻿@model dynamic

@{
    ViewBag.Title = "WordCount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-muted">Enter a website address and hit enter to get a list of the top 30 most used words</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-10">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="url" name="url" placeholder="enter url" autocomplete="off">
                    <div class="input-group-addon">URL</div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2">
            <button id="getWords" class="btn btn-primary">Get words</button>
        </div>

    </div>
    
    <br/>
    
    <div class="row">
        <div class="alert alert-danger" id="warning">Invalid URL please try again</div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
            <div class="row" id="bsWords"></div>
        </div>
        <div class="col-lg-4">
            <div id="words"></div>
        </div>
    </div>

</div>

@section scripts
{
    <script language="javascript">

        $(document).ajaxStop($.unblockUI);

        $().ready(function() {
            $("#getWords").on('click',
                goWordsGo);
        });

        $('#url').keypress(function(e) {
            if (e.which == 13) {
                goWordsGo();
            }
        });

        function goWordsGo() {

            $("#warning").hide();

            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .8,
                    color: '#fff'
                }
            });

            $.getJSON("/api/word?url=" + $("#url").val(), function(data) {

                $("#words").empty();

                $("#words").jQCloud(data, {
                    
                    width: '80%',
                    height: 600

                });

                $("#bsWords").empty();

                $.each(data, function (i, v) {
                    $('#bsWords').append("<div class=\"col-lg-4 col-xs-6\"><div class=\"word-container\"><i class=\"fa fa-check-circle-o text-muted\"/>&nbsp;" + v.text + "<span class=\"badge pull-right text-success\">" + v.weight + "</span></div></div>");

                });

            }).error(function(e) {

                $("#warning").show();
            });
        }

    </script>
}