﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div class="jumbotron jumbo-raspberry">
            <div class="container">
                <div class="col-lg-10">
                    <span class="text-white" id="header-text"><i class="fa fa-globe text-white"></i>&nbsp;wrdctr</span>
                    <blockquote><p class="text-white">Counting words on the web.</p></blockquote>
                </div>
                
            </div>
        </div>
      
            @RenderBody()
   
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
