﻿.word-container {
    width: 100%;
    height: 100%;
    margin: 3px;
    border: 2px solid #b22222;
    -ms-border-radius: 5px;
    border-radius: 4px;
    padding: 10px;
    color: #b22222;
    overflow: hidden
}

.word-container span {
    overflow: auto;
}

#warning {
    display: none;
}

#getWords {
    width: 100%;
}

.jumbo-raspberry {
    /*background-color: #c71585 !important;*/
    /*border-bottom: 20px solid #ba55d3;*/
    background: linear-gradient(to right, #b22222, #c71585);
}

.text-white {
    color: white;
}

#header-text {
    font-size: 60pt;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

